

<launch>

  <param name="use_sim_time" value="true" />
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" clear_params="true">
        <!--rosparam command="load" file="$(find robot_localization)/params/navsat_transform_template.yaml" />-->
        
        <param name="yaw_offset" value="1.5708963"/><!--heading data from IMU assumed pointing east, if north, put pi/2=1.5707963-->
        <param name="zero_altitude" value="true"/>
        <param name="broadcast_cartesian_transform" value="true"/><!-- between utm and the frame of the odometry-->
        <param name="broadcast_cartesian_transform_as_parent_frame"
            value="true"/>
        <param name="use_odometry_yaw" value="false"/>
        <param name="wait_for_datum" value="false"/>
        <param name="publish_filtered_gps" value="true"/>
        <param name="transform_timeout" value="0"/>
        <remap from="imu/data" to="/vectornav/IMUfix"/>
        <remap from="odometry/filtered" to="/warthog_velocity_controller/odom"/>
        <remap from="gps/fix" to="/vectornav/GPSfix"/>


    </node>
    <node pkg="localization" type="tf_origin.py" name="tf_origin_node" output="screen"  >  
    </node>
    <node pkg="localization" type="gpsfix.py" name="gps_fix_node" output="screen"  >  
    </node>

    <node pkg="tf" type="static_transform_publisher" name="enu2ned_broadcaster" args="0 0 0 1.57076 0 -3.1415  /base_link /vnav_link 100"/>    <!--
    <node pkg="gps_common" type="utm_odometry_node" name="utm_node" output="screen"  >

        <param name="frame_id" value="world"/>
        <param name="child_frame_id" value="world_utm"/>
        <remap from="fix" to="/vectornav/GPS"/>
        <remap from="odom" to="/vectornav/odom"/>
    </node>    

    <node pkg="localization" type="loc.py" name="loc_node" output="screen"  >
        <remap from="odom" to="/vectornav/odom"/>
    </node>
    -->
</launch>